# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# Virtual Environment
venv/

# Environment Variables
.env

# Database
*.db
database/*.db

# Logs
logs/security.log
*.log

# VS Code
.vscode/
.idea/

# Temporary Files
*.tmp
*.bak

# OS Files
.DS_Store
Thumbs.db